<!DOCTYPE html>


<html>


<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta charset="utf-8"><meta name="viewport" content="width=device-width">
	 <title>Motivational Posters App</title>


 <script type="text/javascript" src="https://www.google.com/jsapi">
 </script>

 <script src="http://code.jquery.com/jquery-2.0.3.min.js">
 </script>

    <script src="/javascript/support.js"></script>        

    <script src="/javascript/application.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type='text/javascript' src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>


   
   <link href="/css/application.css" rel="stylesheet" type="text/css">
</head>


<body>

    <header>
      <h1>Motivational Posters App</h1>
    </header>


<section id="select-image">

        <h2>Step 1. Select an image</h2>
        <p>Enter keyword to search for images</p>

    
</section>



      
<section id="add-text">
         
      <h2>Step 2. Add Text</h2>

</section>

<section id="style-image" >

      <h2>Step 3. Style it!</h2>


<footer>
 
 
</footer>

</section>


  </body>

</html>

