<!DOCTYPE html>
<html>


<head>
	 <title>Motivational Posters App</title>
</head>


<body>

    <header>
      <h1>Motivational Posters App</h1>
    </header>


<section id="select-image">

        <h2>Step 1. Select an image</h2>
        <p>Enter keyword to search for images</p>

    
</section>



      
<section id="add-text">
         
      <h2>Step 2. Add Text</h2>

</section>

<section id="style-image" >

      <h2>Step 3. Style it!</h2>


<footer>
 
 
</footer>

</section>
  

  </body>

</html>

