h1 {
    color: #FF4500;

    font-family: Helvetica, sans-serif;
}
h2
{color: #FF4500;
  font-family: Helvetica;
}
p {
    color: #FF4500;
    font-family: Helvetica;
}



#changePhoto { padding: 20px;


}

#text {
  font-family: Helvetica;
}

    #workspace {

      width: 600px;

      min-height: 300px;

      border: 5px dashed orange;

      margin: 0 auto;


    }
        #workspace img {

      width: 590px;





    }
    
    
         #caption {

      position: absolute;

      top: 10px;

      left: 10px;

      font-weight: bold;

      font-family: Helvetica;

      text-shadow: 0 0 5px rgba(0,0,0,0.4);

      width: 500px;   

      font-size: 32px;

      color: #FF4500;

      margin: 0 auto;

    }

    #workspace {

     position: relative;


    }

        body {

      text-align: center;

      background-image: url(/images/ricepaper_v3.png);

      color: #FF4500;

      font-family: Helvetica, Arial;

      margin: 0;

      padding: 0;

    }

#search-results {
  
  padding: 10px; 
}
#go-search
 {
  padding-top: 6px;
  padding-bottom: 6px;
   
}
#search-results img{
  -webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
padding: 5px;
}

#select-image {
  background-color: rgba(255,255,255, 0.3);
  padding: 10px; 
 
}
#add-text {
    background-color: rgba(0,255,255, 0.02);
    padding: 10px;
    box-shadow: 1px 0 3px rgba(0,0,0, 0.3); 
}
#add-text input {
  width: 600px;
  text-align: center;
}
input, button {
    font-size: 16px;
}
#style-image {
    background-color: rgba(255,255,255, 0.7);
    padding: 10px;  
    box-shadow: 1px 0 3px rgba(0,0,0, 0.3); 
}
#controls {
  padding-top: 5px;
  font-size: 14px;
}
input[type="number"] {
  width: 50px;
}


footer {
  background-color: rgba(255,0,255,0.01);
  padding: 10px;  
  text-align: left;
  box-shadow: -1px 0 5px rgba(0,0,0, 0.3);
}
footer div {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer img {
  float: left;
  margin-right: 40px;
}
